@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700|family=Gotu:100,200,300,400,500,600,700|family=Montserrat:100,200,300,400,500,600,700|family=Gochi Hand:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  color: white;
}

/* ----------------------------------------------- Navigation Start --- */

.navbar{
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  font-family: "Gotu", sans-serif;
  letter-spacing: 2px;
  border-bottom: 1px solid;
}

.navbar-brand{
    font-family: "Gochi Hand", cursive;
    font-weight: 600;
    font-size: 14px;
    margin-right: 0px;
    color: #ffa083;
}

.fa-globe-americas{
    margin-right: 5px;
    font-size: 20px;
}

.navbar-nav li{
  padding-right: 11px;
}

.navbar-dark .navbar-nav .nav-link{
  color: white;
  padding-top: 12px;
}


.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color: #ffa083;
}

.navbar-dark .navbar-nav .nav-link.active{
    font-weight: 700;
}


/* ----------------------------------------------- Navigation End --- */

/* ----------------------------------------------- Home Page Start --- */
.home-img {
  height: 100vh;
  background: url(../images/home.jpg) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.caption {
  width: 100%;
    top: 30%;
    z-index: 1;
    color: white;
    text-transform: uppercase;
}

.caption h1 {
    font-size: 70px;
    font-weight: 700;
    display: block;
    font-family: "Varela Round", sans-serif;
    margin-bottom: 10px;
    margin-left: 60px;
    text-align: left;
    width: 60%;
}

hr {
  width: 60%;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  margin-left: 60px;
  border-style: inset;
  border-width: 1px;
}

.caption h3 {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-align: left;
  padding-top: 10px;
  margin-bottom: 60px;
  margin-left: 60px;
  word-spacing: 3px;
}

.btn-lg {
  font-weight: bold;
  border-radius: 23px;
  width: 160px;
}

.btn-light {
  color: white;
  background-color: #ffa083;
  border-color: #ffa083;

  transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.btn:hover {
  background-color:white;
  color: #ffa083;
  border: 1px solid white;
}

.social-links{
    position: absolute;
    right: 0px;
    width: 0px;
    margin-right: 60px;
    top: 29%;
    font-size: 20px;
    z-index: 1;
    }

.social-links a{
    color: white;
    text-align: center;
}

.social-links ul{
    margin-right: 0px;
}

.social-links li{
    padding-bottom: 20px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 15px;
    line-height: 7px;
    
    
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
  background-color:white;
  color:  #ffa083;
  border: 1px solid white;
}

/* ----------------------------------------------- Home Page End --- */

/* ----------------------------------------------- About Page Start --- */
.about-img {
  height: 100vh;
  background: url(../images/about1.jpg) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.caption-about{
    width: 100%;
    position: absolute;
    top: 20%;
    z-index: 1;
    color: white;
    text-transform: uppercase;
}

h2 {
   position: absolute;
    right: 0px;
    margin-right: 60px;
    top: 0%;
    font-size: 30px;
    font-weight: 700;
    display: block;
    font-family: "Varela Round", sans-serif;
    margin-bottom: 10px;
    text-align: right;
    width: 40%;
}

.caption-about .hr-about{
    width: 35%;
    margin-bottom: 10px;
    text-align: right;
    border-style: inset;
    border-width: 1px;
    right: 0px;
    margin-right: 60px;
    position: absolute;
    margin-top: 80px;
}

.caption-about p{
    width: 35%;
    margin-bottom: 10px;
    text-align: right;
    right: 0px;
    margin-right: 60px;
    position: absolute;
    margin-top: 100px;
    font-size: 15px;
    font-weight: 300;
    padding-top: 10px;
    font-family: "Varela Round";
}

.caption-about .btn{
    margin-bottom: 10px;
    right: 0px;
    margin-right: 15%;
    position: absolute;
    margin-top: 20%;
    padding-top: 10px;
}

/* ----------------------------------------------- About Page End --- */

/* ----------------------------------------------- Explore Page Start --- */
.explore-img {
  height: 100vh;
  background: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#explore nav{
    background: rgba(0, 0, 0, 0.5);
}

#map{
    width: 100%;
    height: 80vh;
}

.map-container{
    width: 100%;
    position: absolute;
    top: 20%;
    z-index: 1;
    text-transform: uppercase;
}

.map{
    float: left;
    padding: 5px;
}

.map-button{
    font-family: lato;
    width: 150px;
    border-style: solid;
    background-color: #ffa083;
    position: relative;
    margin-left: 10px;
    border-color: #ffa083;
    color: white;
    font-weight: bold;
    border-radius: 23px;
    padding: 5px;
    letter-spacing: 1px;
    font-size: 15px;
    text-transform: uppercase;

    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.map-button:hover {
  background-color:white;
  color: #ffa083;
  border: 1px solid white;
}

.map-button-container{
    height: 45px;
    padding: 5px;
    position: absolute;
    top: 11%;
}

.map-button-container i{
    visibility: hidden;
}

button:focus{
    outline: none;
    background-color: white;
    color: #ffa083;
    border-color: white;
}

.container:after {
  content: "";
  clear: both;
  display: table;
}

.marker{
    
    width: 120px;
    height: 120px;
}

h6 {
    font-family: "Varela Round", sans-serif;
    text-align: center;
    
    font-weight: 600;
    font-size: 10px;
    color: #ffa083;
}

.marker p{
    font-family: "Lato", sans-serif;
    text-align: center;
    color: black;
    font-weight: 600;
    font-size: 10px;
    width: 120px;
    position: absolute;
    bottom: 0;
    margin: 0;
    margin-bottom: 10px;
}

#register{
    background-color: white;
    color: #ffa083;
    border-color: white;
    margin-left: 30px;
}

#register:hover{
    border: 2px solid #ffa083;
}

/* ----------------------------------------------- Explore Page End --- */

/* ----------------------------------------------- Contact Page Start --- */


.contact-img {
  height: 100vh;
  background: url(../images/contact1.jpg) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.caption-contact{
    width: 100%;
    position: absolute;
    top: 20%;
    z-index: 1;
    color: white;
    text-transform: uppercase;
}

h3{
    font-size: 60px;
    font-weight: 700;
    display: block;
    font-family: "Varela Round", sans-serif;
    margin-bottom: 10px;
    text-align: center;
    margin: 0 auto;
    width: 60%;
    left: 0;
}

.form-container{
    width: 30%;
}

.box{
    background-color: rgba(255, 255, 255, .9);
    height: 300px;
    width: 36%;
    position: absolute;
    bottom: 10%;
    font-size: 30px;
    font-family: "Varela Round", sans-serif;
    margin-bottom: 10px;
    text-align: center;
    border-radius: .25rem;
}

.form-tag{
    text-align: left;
    padding-left: 3px;
    max-width: 90%;
    width: 100%;
    font-size: 1rem;
    color: #495057;
    font-weight: 400;
    background-color: transparent;
    border: none;
}

.form-control {
    display: inline-block;
    max-width: 90%;
    color:  #495057;
    background-clip: padding-box;
    border: 1px solid  #ffa083;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

div .button{
    margin-top: 40px;
}

div .button .btn-light:hover{
    border: 1px solid  #ffa083;
}

.modal-bg{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.bg-active{
    visibility: visible;
    opacity: 1;
}

.modal{
    background-color: #ffa083;
    width: 40%;
    height: 30%;
    top: 40%;
    left: 30%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-family: "Varela Round", sans-serif;
    color: white;
    border-radius: .25rem;
    border: 3px solid white;
}

.modal-close{
    position: absolute;
    top: 10px;
    right: 20px;
    font-weight: bold;
    cursor: pointer;
}
/* ----------------------------------------------- Contact Page End --- */

/* -----------------------------------------------Media Queries --- */

/*extra small screens (up to 540px)*/
@media (max-width:576px){
    .container{
        max-width: auto;
    }
    .col-xs-4 {width: 100%;}

    .navbar-nav{
        flex-direction: initial;
        font-size: 10px;
    }

    button:focus{
        background-color: transparent;
    }

    .caption h1{
        font-size: 35px;
        margin-left: 30px;
        width: auto;
    }

    .caption hr{
        margin-left: 30px;
        width: 80%;
    }

    .caption h3{
        font-size: 15px;
        margin-left: 30px;
        width: 80%;
    }

    .social-links{
        width: 100%;
        text-align: center;
        margin: 0 auto;
        top: 90%;
    }

    .caption-about{
        position: fixed;
    }

    h2{
        width: auto;
        text-align: center;
        margin-right: 30px;
        padding: 10px;
        font-size: 20px;
    }

    .caption-about .hr-about{
        width: 75%;
        margin-top: 30%;
    }

    .caption-about p{
        width: 100%;
        text-align: center;
        margin-top: 30%;
        padding: 10px;
        margin-right: 10px;
        font-size: 15px;
    }

    .caption-about .btn{
        margin-right: 30%;
        position: absolute;
    }

    .map-container{
       position: sticky;
       top: 30%;
    }

    #map{
        height: 70vh;
    }

    .map-button-container button{
        padding-left: 20px;
        position: absolute;
        left: -1000px;
    }

    .map-button{
        z-index: 12;
        visibility: hidden;
    }

    .map-button-container{
        position: sticky;
        top: 20%;
        text-align: center;
    }

    .map-button-container i {
    visibility: visible;
    border-radius: 23px;
    padding: 5px;
    letter-spacing: 1px;
    font-size: 15px;
    background-color: #ffa083;
    }

    .caption-contact h3{
        font-size: 27px;
        width: 80%;
    }

    .box{
        width: 80%;
        bottom: 15%;
    }
}

/*small screens*/
@media (min-width:576px){
    
    .container{
        max-width: 768px;
    }

    .caption h1{
        font-size: 45px;
        margin-left: 30px;
        width: auto;
    }

    .caption hr{
        margin-left: 30px;
        width: auto;
    }

    .caption h3{
        font-size: 20px;
        margin-left: 30px;
        width: auto;
    }

    .social-links{
        width: 100%;
        text-align: center;
        margin: 0 auto;
        top: 90%;
    }

    .caption-about{
        position: fixed;
    }

    h2{
        font-size: 40px;
        width: auto;
        text-align: right;
        margin-right: 20px;
        padding: 20px;
    }

    .caption-about .hr-about{
        width: -webkit-fill-available;
        margin-top: 30%;
        margin-right: 40px;
    }

    .caption-about p{
        font-size: 20px;
        width: 90%;
        text-align: right;
        margin-top: 30%;
        position: absolute;
        padding: 20px;
        margin-right: 20px;
    }

    .caption-about .btn{
        margin-right: 30%;
        position: absolute;
    }

    .map-container{
       position: sticky;
       top: 30%;
    }

    #map{
        height: 70vh;
    }

    .map-button-container button{
        padding-left: 20px;
        position: absolute;
        left: -1000px;
    }

    .map-button{
        z-index: 12;
        visibility: hidden;
    }

    .map-button-container{
        position: sticky;
        top: 15%;
        text-align: center;
    }

    .map-button-container i {
    visibility: visible;
    border-radius: 23px;
    padding: 5px;
    letter-spacing: 1px;
    font-size: 25px;
    background-color: #ffa083;
    margin-right: 15px;
    width: 50px;
    }

    .caption-contact h3{
        font-size: 35px;
    }

    .box{
        width: 90%;
        bottom: 15%;
    }
    
}

/*medium screens*/
@media (min-width:768px){
    .container{
        max-width: 960px;
    }

    .navbar{
        font-size: 20px;
    }

    .navbar-dark .navbar-brand{
        font-size: 20px;
    }

    .caption h1{
        font-size: 45px;
        margin-left: 30px;
        width: auto;
    }

    .caption hr{
        border: 1px solid white;
        margin-left: 30px;
        width: auto;
    }

    .caption h3{
        font-size: 20px;
        margin-left: 30px;
        width: auto;
    }
    
    .social-links{
        width: 100%;
        text-align: center;
        margin: 0 auto;
        top: 90%;
    }

    .social-links li{
        padding-right: 20px;
    }

    .social-links li a i{
        font-size: 20px;
    }

    .caption-about{
        position: fixed;
    }

    h2{
        font-size: 40px;
        width: auto;
        text-align: right;
        margin-right: 20px;
        padding: 20px;
    }

    .caption-about .hr-about{
        width: -webkit-fill-available;
        margin-top: 20%;
        margin-right: 40px;
    }

    .caption-about p{
        font-size: 20px;
        width: 90%;
        text-align: right;
        margin-top: 25%;
        position: absolute;
        padding: 20px;
        margin-right: 20px;
    }

    .caption-about .btn{
        margin-right: 30%;
        position: absolute;
    }

    .map-container{
       position: sticky;
       top: 30%;
    }

    .map-button-container button {
    padding-left: 0px;
    position: initial;
    left: -1000px;
    }

    #map{
        height: 70vh;
    }

    .map-button{
        z-index: 12;
        visibility: visible;
        font-family: lato;
        width: 150px;
        font-weight: bold;
        border-radius: 23px;
        letter-spacing: 1px;
        font-size: 10px;
        text-transform: uppercase;
        margin: -30px;
        margin-bottom: 10px;
    }

    .map-button-container{
        position: absolute;
        top: 15%;
        text-align: center;
        margin-right: 30px;
    }

    .map-button-container i {
    visibility: hidden;
    border-radius: 23px;
    padding: 5px;
    letter-spacing: 1px;
    font-size: 15px;
    background-color: #ffa083;
    }

    
}

/*large screens*/
@media (min-width:992px){
    .container{
        max-width: 1200px;
    }
    .caption-about{
        position: fixed;
    }

    h2{
        font-size: 50px;
        width: 80%;
        text-align: right;
        margin-right: 30px;
        padding: 20px
    }

    .caption-about .hr-about{
        width: -webkit-fill-available;
        margin-top: 17%;
        margin-right: 40px;
    }

    .caption-about p{
        font-size: 20px;
        width: 90%;
        text-align: right;
        margin-top: 20%;
        position: absolute;
        padding: 20px;
        margin-right: 30px;
    }

    .caption-about .btn{
        margin-right: 30%;
        position: absolute;
    }

    .map-container{
       position: sticky;
       top: 30%;
    }

    .map-button-container button {
    padding-left: 0px;
    position: initial;
    left: -1000px;
    }

    #map{
        height: 70vh;
    }

    .map-button{
        z-index: 12;
        visibility: visible;
        font-family: lato;
        width: 140px;
        font-weight: bold;
        border-radius: 23px;
        letter-spacing: 1px;
        font-size: 13px;
        text-transform: uppercase;
        margin: -30px;
        margin-bottom: 10px;
    }

    .map-button-container{
        position: absolute;
        top: 15%;
        text-align: center;
        margin-right: 30px;
    }

    .map-button-container i {
    visibility: hidden;
    border-radius: 23px;
    padding: 5px;
    letter-spacing: 1px;
    font-size: 15px;
    background-color: #ffa083;
    }

    .caption-contact h3{
        font-size: 45px;
    }
    
    .box{
        width: 80%;
    }
}
@media (min-width:992px) and (max-width:1024px){
    .container{
        max-width: 1140px;
    }

    .navbar{
        font-size: 20px;
    }

    .navbar-dark .navbar-brand{
        font-size: 20px;
    }

    .caption h1{
        font-size: 75px;
        margin-left: 30px;
        width: auto;
    }

    .caption hr{
        border: 1px solid white;
        margin-left: 30px;
        width: auto;
    }

    .caption h3{
        font-size: 25px;
        margin-left: 30px;
        width: auto;
    }
    .social-links{
        width: 100%;
        text-align: center;
        margin: 0 auto;
        top: 90%;
    }

    .social-links li{
        padding-right: 20px;
    }

    .social-links li a i{
        font-size: 30px;
    }
}

/*extra large screens*/
@media (min-width:1200px){
    .container{
        max-width: inherit;
    }

    .navbar{
        font-size: 14px;
    }

    .navbar-dark .navbar-brand{
        font-size: 14px;
    }

    .caption h1{
        font-size: 65px;
        margin-left: 60px;
        width: auto;
    }

    .caption hr{
        margin-left: 60px;
        width: auto;
    }

    .caption h3{
        font-size: 20px;
        margin-left: 60px;
        width: auto;
    }

    .social-links{
    position: absolute;
    right: 0px;
    width: 0px;
    margin-right: 60px;
    top: 29%;
    font-size: 20px;
    z-index: 1;
    }

    .social-links li a i{
        font-size: 15px;
    }

    .caption-about{
        position: fixed;
    }

    h2{
        font-size: 40px;
        max-width: 60%;
        text-align: right;
        margin-right: 80px;
    }

    .caption-about .hr-about{
        max-width: 60%;
        margin-top: 12%;
        margin-right: 6%;
    }

    .caption-about p{
        font-size: 20px;
        width: 60%;
        text-align: right;
        margin-top: 15%;
        position: absolute;
        padding: 20px;
        margin-right: 60px;
    }

    .caption-about .btn{
        margin-right: 30%;
        position: absolute;
        top: 50%;
    }

    #map{
    width: 100%;
    height: 80vh;
    }

    .map-container{
        width: 100%;
        position: sticky;
        top: 20%;
        z-index: 1;
        text-transform: uppercase;
    }

    .map{
        float: left;
        padding: 5px;
    }

    .map-button{
        font-family: lato;
        width: 150px;
        border-style: solid;
        background-color: #ffa083;
        position: relative;
        margin-left: 10px;
        border-color: #ffa083;
        color: white;
        font-weight: bold;
        border-radius: 23px;
        padding: 5px;
        letter-spacing: 1px;
        font-size: 15px;
        text-transform: uppercase;
        margin: -30px
    }

    .map-button-container{
        height: 45px;
        padding: 5px;
        position: absolute;
        top: 11%;
    }

    .map-button-container i{
        visibility: hidden;
    }

    .caption-contact h3{
        font-size: 60px;
        font-weight: 700;
        width: 60%;
    }

    .box{
    height: 300px;
    width: 36%;
    bottom: 7%;
    font-size: 30px;
    }

    
}
